{% extends 'base/home.html' %}
{% block title%} E-mail Enviado {% endblock %}
{% block header %}
{% include 'base/header-before-login.html' %}
{% endblock %}
{% block bienvenido %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p>Te hemos enviado un correo con un enlace para reestablecer tu contraseña</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}