{% extends 'base/home.html' %}
{% block title%} Reestablezca su Contraseña {% endblock %}
{% block header %}
{% include 'base/header-before-login.html' %}
{% endblock %}
{% block bienvenido %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if validlink %}
            <h4>Establezca su nueva contraseña</h4>
            <form role="form" method="post" class="form-group">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva Contraseña:</label>
                        {{ form.new_password1 }}
                        <br>
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme Contraseña:</label>
                        {{ form.new_password2 }}
                        <input type="submit" class="form-control" value="Cambiar Contraseña">
                    </div>
                </div>
            </form>
            {% else %}
            <p class="text-center">Enlace Inválido: Este enlace ya ha sido utilizado.</p>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}